streamlit==1.37.1
crewai==0.51.1
crewai-tools==0.8.3
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
groq
pandas
pypdf
PyMuPDF
python-dotenv
chromadb
setuptools>=65.0
packaging
wheel
pysqlite3-binary
