streamlit
crewai
crewai-tools
langchain
langchain-community==0.2.12
langchain-core==0.2.33
groq
pandas
pypdf
PyMuPDF
python-dotenv
chromadb
setuptools>=69.0.0
packaging
wheel
pysqlite3-binary
opentelemetry-api
opentelemetry-sdk
langchain-openai
PyPDF2
